beautifulsoup4
bs4
chromedriver_autoinstaller
cloudscraper
colorama
dnspython
flask
flask_restful
img2pdf
lk21
lxml
psutil
PyBypass
pymongo
pyrogram
python-dotenv
python-telegram-bot
requests
sapling-py
selenium
speedtest-cli
telegraph
tgcrypto
urllib3